.main-content
	.options__wrapper
		h1 
			span Dota 2
			br 
			span Heroes
		.options#scroll-event
			- var heroes = [{ name: "Axe", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/axe.png", type: "strength", range: 'melee'},{ name: "Naga Siren", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/naga.png", type: "agility", range: 'melee'},{ name: "Invoker", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/invoker.png", type: "intelligence", range: 'range'},{ name: "Bounty Hunter", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/bounty.png", type: "agility", range: 'melee'},{ name: "Necrophos", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/necro.png", type: "intelligence", range: 'range'},{ name: "Enchantress", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/enchantress.png", type: "intelligence", range: 'range'},{ name: "Earthshaker", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/earthsh.png", type: "strength", range: 'melee'},{ name: "Storm Spirit", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/storm.png", type: "intelligence", range: 'range'},{ name: "Ember Spirit", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/ember.png", type: "agility", range: 'melee'},{ name: "Earth Spirit", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/earth.png", type: "strength", range: 'melee'},{ name: "Rubick", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/rubick.png", type: "intelligence", range: 'range'},{ name: "Troll Warlord", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/troll.png", type: "agility", range: 'melee'},{ name: "Kunkka", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/kunkka.png", type: "strength", range: 'melee'},{ name: "Puck", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/puck.png", type: "intelligence", range: 'range'},{ name: "Juggernaut", image: "https://meowlivia.s3.us-east-2.amazonaws.com/codepen/dota/jugger.png", type: "agility", range: 'melee'},]
				each val in heroes
					.options__item(data-type=val.type)
						img(src=val.image height="100%")
						div.options__item__info
							p= val.name
							span= val.type
							span= val.range
						
				.options__item


//aside.context
	.explanation
		| Some kind of explanation that is 
		a(href="" target="_blank") interesting here
		| .

//footer
	a(href="https://twitter.com/meowlivia_" target="_blank")
		i.icon-social-twitter.icons
	a(href="https://github.com/oliviale" target="_blank")
		i.icon-social-github.icons
	a(href="https://dribbble.com/oliviale" target="_blank")
		i.icon-social-dribbble.icons